
<div id="layoutSidenav_nav">
    @{ var userInfomatiom = (ManagementStudent.Models.User)Session["USER"]; }
    <nav style="background-color: #F1F1F1 !important" class="sb-sidenav accordion " id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <a class="nav-link collapsed" href="/Home/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Bảng điều khiển

                </a>
                @if (userInfomatiom.Role.id_role == 1)
                {
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                       data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý thông tin
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/User/Index">Sinh viên</a>
                            <a class="nav-link" href="/User/ListGiangVien">Giáo vụ </a>

                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="/Subject/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý môn học

                    </a>

                    <a class="nav-link collapsed" href="/Score/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý điểm số

                    </a>
                    <a class="nav-link collapsed" href="/Schedule/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý thời khóa biểu
                    </a>
                    <a class="nav-link collapsed" href="/Post/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý tin tức
                    </a>
                    <a class="nav-link collapsed" href="/Credit/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý đăng ký
                    </a>
                    <a class="nav-link collapsed" href="/Feedback/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý góp ý
                    </a>
                    <a class="nav-link collapsed" href="/Score/Rank">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Xếp hạng
                    </a>
                }
                else if (userInfomatiom.Role.id_role == 2)
                {
                    <a class="nav-link collapsed" href="/Post/TinTuc">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Trang thông tin
                    </a>
                    <a class="nav-link collapsed" href="/User/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý sinh viên

                    </a>
                    <a class="nav-link collapsed" href="/Score/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý điểm

                    </a>
                    <a class="nav-link collapsed" href="/Credit/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý đăng ký
                    </a>
                    <a class="nav-link collapsed" href="/Score/Rank">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Xếp hạng
                    </a>
                }
                else
                {
                    <a class="nav-link collapsed" href="/User/Infor">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Hồ sơ cá nhân
                    </a>
                    <a class="nav-link collapsed" href="/Post/TinTuc">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Trang thông tin
                    </a>
                    <a class="nav-link collapsed" href="/Schedule/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Xem thời khóa biểu
                    </a>
                    <a class="nav-link collapsed" href="/Score/ListScoreForStudent?id=@userInfomatiom.id_user">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Xem điểm

                    </a>
                    <a class="nav-link collapsed" href="/Credit/List">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Đăng ký môn học
                    </a>
                    <a class="nav-link collapsed" href="/Credit/Regist">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Môn học đăng ký
                    </a>
                    <a class="nav-link collapsed" href="/Feedback/Add">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Gửi góp ý

                    </a>
                    <a class="nav-link collapsed" href="/Score/Rank">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Xếp hạng
                    </a>
                }
            </div>
        </div>

    </nav>
</div>


