
@{
    ViewBag.Title = "Rank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Bảng xếp hạng điểm trung bình của Sinh viên</h1>
        <div class="card mb-4">
            <div class="card-header">
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên Sinh viên</th>
                            <th>Điểm trung bình cộng các môn học</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>STT</th>
                            <th>Tên Sinh viên</th>
                            <th>Điểm trung bình cộng các môn học</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{
                            var index = 0;
                        }
                        @foreach (var item in ViewBag.Rank)
                        {
                            index++;
                            <tr>
                                <td>@index</td>
                                <td>@item.fullname</td>
                                <td>
                                    @item.diemtb
                                </td>
                            </tr>
                           
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</main>

