
@{
    ViewBag.Title = "Infor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="container-fluid px-4">
        <h4 class="mt-1">Thay đổi mật khẩu</h4>

        <div class="card mb-4">
            @if (ViewBag.Msg != null)
            {
                if (ViewBag.Msg == "1")
                {
                    <div class="alert alert-success">
                        <strong>Thành công</strong>
                    </div>
                }
            }
            <div class="card-body">
                <form enctype="multipart/form-data" action="/User/SVUpdate" method="post">
                    <div class="col">
                        <input type="hidden" class="form-control" id="tenphim" name="id_user" tabindex="1" value="@ViewBag.Profile.id_user">
                        <div class="row">
                            <div class="col-6">
                                <label for="category-film" class="col-form-label">Tài khoản :</label>
                                <input type="text" class="form-control" id="tenphim" name="username" tabindex="1" value="@ViewBag.Profile.username" readonly>
                            </div>

                            <div class="col-6">
                                <label for="category-film" class="col-form-label">Mật khẩu mới :</label>
                                <input type="text" class="form-control" id="tenphim" name="password" tabindex="1" required>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top: 20px">
                        <button style="width:100px" type="submit" class="btn btn-info"> Cập nhập</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

