
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h4 class="mt-1">Trang đóng góp ý kiến, góp ý</h4>

        <div class="card mb-4">
            @if (ViewBag.Msg != null)
            {
                if (ViewBag.Msg == "1")
                {
                    <div class="alert alert-success">
                        <strong>Thành công</strong>
                    </div>
                }
            }
            <div class="card-body">
                <form method="POST" action="/Feedback/Add" class="register-form" id="register-form" enctype="multipart/form-data">
                    <div class="col">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="category-film"
                                       class="col-form-label">Tiêu đề:</label>
                                <input type="text" class="form-control" id="category-film" name="title" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="category-film"
                                       class="col-form-label">Nội dung:</label>
                                <textarea name="content" id="editor" cols="30"
                                          rows="30"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Gửi góp ý </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script>

            CKEDITOR.replace("editor");

</script>

