
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <table id="datatablesSimple">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên môn học </th>
                <th>Điểm học kì 1</th>
                <th>Điểm học kì 2</th>
                
            </tr>
        </thead>
        <tbody>
            {{body}}
        </tbody>
    </table>
</body>
</html>
