
@{
    ViewBag.Title = "Nam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">

        <div class="card mb-4">
            <div class="card-header">
                <form method="POST" action="/Credit/Nam" class="register-form" id="register-form">
                    <div class="row" style="justify-content:space-around !important">
                        <div class="col-5">
                            <label for="category-film"
                                   class="col-form-label">Năm học:</label>
                            <select class="form-select" aria-label="Default select example" id="theloai" tabindex="8" name="lop" required>
                                <option value="" selected>Chọn năm học</option>
                                <option value="Năm 2021">Năm 2021</option>
                                <option value="Năm 2022">Năm 2022</option>
                            </select>
                        </div>
                        <div class="col-1">
                            <label for="category-film"
                                   class="col-form-label"></label><br />
                            <button type="submit" class="btn btn-success" style="margin-top:10px;width : 200px !important">
                                Thống kê
                            </button>
                        </div>
                    </div>
                </form>

            </div>
            @if (ViewBag.List == null)
            {

            }
            else
            {
                <div style="margin:20px auto;">
                    <h3>Danh sách học phần sinh viên</h3>
                </div>
                <a href="/exportTt/@ViewBag.lop" class="btn btn-warning" style="margin-bottom: 10px;margin-top : -10px;margin-left : 5px;width : 200px !important">
                    Xuất Excel
                </a>
            }
            <div class="card-body" style="margin-top : -15px !important">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Mã sinh viên</th>
                            <th>Họ tên</th>
                            <th>Ngành</th>
                            <th>Môn học đăng ký</th>
                            <th>Năm học</th>
                        </tr>
                    </thead>
                    @if (ViewBag.List == null)
                    {
                        <tbody></tbody>
                    }
                    else
                    {
                        <tbody>
                            @foreach (var item in ViewBag.List)
                            {

                                <tr>
                                    <td>SV_2022_@item.User.id_user</td>
                                    <td>@item.User.fullname</td>
                                    <td>@item.User.Majors.name</td>
                                    <td>@item.Subject.name</td>
                                    <td>@ViewBag.lop</td>
                                </tr>
                            }
                        </tbody>
                    }

                </table>
            </div>
        </div>
    </div>
</main>

