@{
    ViewBag.Title = "Home Page";
}
@{ var userInfomatiom = (ManagementStudent.Models.User)Session["USER"]; }
@if (userInfomatiom.Role.id_role == 1)
{
    <h2>Trang chủ Admin</h2>
}
else if (userInfomatiom.Role.id_role == 2)
{
    <h2>Trang chủ Giáo vụ</h2>
}
else
{
    <h2>Trang chủ Sinh viên</h2>
}